

p {
    letter-spacing: -0.3px !important;
}

.notion-heading .notion-semantic-string {
    line-height: 1.2 !important;
}

.notion-semantic-string .link {
    opacity: 1 !important;
}

.notion-semantic-string .link:hover {
    border-bottom: 1px solid var(--color-text-default) !important;
    cursor: pointer !important;
}

@media (max-width: 680px) {

    h1 {
        font-size: 50px !important;
    }

}
